/*QDialog#login, #Register {
background-color:rgb(255,255,255)
}

#User_label, #Password_label{
    color:black;
}*/

#err_tip[state = 'normal']{
    color: green;
}

#err_tip[state = 'err']{
    color:red;
}
